@import '../../../scss/web-imports';
:host {
  --background: var(--kirby-background);
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: size('m');
}